@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!-- Feilsidemal -->
<h1 class="text-danger">Feil.</h1>
<h2 class="text-danger">Det oppstod en feil under behandlingen av forespørselen.</h2>

<!-- Viser Request ID hvis tilgjengelig -->
@if (Model.ShowRequestId)
{
    <p>
        <strong>Forespørsels-ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<!-- Utviklermodusinformasjon -->
<h3>Utviklermodus</h3>
<p>
    Å bytte til <strong>Utvikler</strong>-miljøet vil vise mer detaljert informasjon om feilen som oppstod.
</p>
<p>
    <strong>Utviklermiljøet bør ikke være aktivert for distribuerte applikasjoner.</strong>
    Det kan føre til visning av sensitiv informasjon fra unntak til sluttbrukere.
    For lokal feilsøking, aktiver <strong>Utvikler</strong>-miljøet ved å sette miljøvariabelen <strong>ASPNETCORE_ENVIRONMENT</strong> til <strong>Development</strong>
    og start appen på nytt.
</p>

