@model IEnumerable<Ijustkeeptryingiguess.Models.ServiceOrdre>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header1 {
            display: flex;
            justify-content: center; /* horizontally center */
            align-items: center;     /* vertically center (if you want) */
        }
    
        .header1 h1 {
            color: red;
            text-align: center;      /* ensures the text itself is centered */
        }
    </style>
    
    
</head>
<body>
<div class="header1">
<h1>Willkommen</h1>
</div>
</body>
</html>

