@model IEnumerable<Ijustkeeptryingiguess.Models.ServiceOrdre>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metainformasjon for HTML-dokumentet, inkludert tegnsett og visningsinnstillinger -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Definerer stilregler for HTML-dokumentet, spesielt for header1-klassen -->
    <style>
        .header1 {
            display: flex;
            justify-content: center; /* Horisontal sentering av innholdet */
            align-items: center; /* Vertikal sentering av innholdet om ønskelig */
        }

            /* Definerer stil for h1-elementet innenfor header1-klassen */
            .header1 h1 {
                color: red;
                text-align: center; /* Sørger for at teksten i seg selv er sentrert */
            }
    </style>
</head>
<body>
    <!-- Lager en header1-div for å vise et sentrert overskriftelement -->
    <div class="header1">
        <!-- Overskriftselementet med teksten "Willkommen" -->
        <h1>Willkommen</h1>
    </div>
</body>
</html>


