@{
    // Setter tittelen på siden til "Privacy Policy" ved hjelp av ViewData
    ViewData["Title"] = "Privacy Policy";
}

<!-- Overskrift som viser tittelen satt i ViewData -->
<h1>@ViewData["Title"]</h1>

<!-- Avsnitt med instruksjoner om å bruke siden til å beskrive nettstedets personvernpolicy -->
<p>Use this page to detail your site's privacy policy.</p>

