@model CheckListViewModel

<h2>Service Checklist for Vinsj</h2>

<form asp-action="Save" method="post">
    <div class="form-group">
        <label for="SerialNumber">Serie nr:</label>
        <input type="text" id="SerialNumber" name="SerialNumber" class="form-control" value="@Model.SerialNumber" />
    </div>

    <div class="form-group">
        <label for="Type">Type:</label>
        <input type="text" id="Type" name="Type" class="form-control" value="@Model.Type" />
    </div>

    <br />

    <h3>Mekanisk</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sjekkpunkt</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sjekk clutch lameller for slitasje</td>
                <td>
                    <select id="ClutchLamellStatus" name="ClutchLamellStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk bremser. Bånd/Pal</td>
                <td>
                    <select id="BremserStatus" name="BremserStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk lager for trommel</td>
                <td>
                    <select id="TrommelLagerStatus" name="TrommelLagerStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk PTO og opplagring</td>
                <td>
                    <select id="PTOStatus" name="PTOStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk kjedestrammer</td>
                <td>
                    <select id="KjedestrammerStatus" name="KjedestrammerStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk wire</td>
                <td>
                    <select id="WireStatus" name="WireStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk pinion lager</td>
                <td>
                    <select id="PinionLagerStatus" name="PinionLagerStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk kile på kjedehjul</td>
                <td>
                    <select id="KileStatus" name="KileStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Hydraulisk</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sjekkpunkt</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sjekk hydraulikk sylinder for slitasje</td>
                <td>
                    <select id="HydraulikkSylinderStatus" name="HydraulikkSylinderStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk slanger for skader og lekkasje</td>
                <td>
                    <select id="SlangerStatus" name="SlangerStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Test hydraulikkblokk i testbenk</td>
                <td>
                    <select id="HydraulikkblokkStatus" name="HydraulikkblokkStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Skift olje i tank</td>
                <td>
                    <select id="OljeITankStatus" name="OljeITankStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Skift olje på gir boks</td>
                <td>
                    <select id="OljePåGirBoksStatus" name="OljePåGirBoksStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk Ringsyllinder åpne og skift tetninger</td>
                <td>
                    <select id="RingsyllinderStatus" name="RingsyllinderStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk bremse syllinder åpne og skift tetninger</td>
                <td>
                    <select id="BremseSyllinderStatus" name="BremseSyllinderStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Elektro</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sjekkpunkt</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sjekk ledningsnett på vinsj</td>
                <td>
                    <select id="LedningsnettStatus" name="LedningsnettStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk og test radio</td>
                <td>
                    <select id="RadioStatus" name="RadioStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Sjekk og test knappekasse</td>
                <td>
                    <select id="KnappekasseStatus" name="KnappekasseStatus">
                        <option value="OK">OK</option>
                        <option value="Bør skiftes">Bør skiftes</option>
                        <option value="Defekt">Defekt</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Trykk settinger</h3>
    <div class="form-group">
        <input type="text" id="Trykk settinger1" name="Trykk settinger1" class="form-control" value="xx- Bar" />
        <input type="text" id="Trykk settinger2" name="Trykk settinger2" class="form-control" value="" />
        <input type="text" id="Trykk settinger3" name="Trykk settinger3" class="form-control" value="" />
    </div>

    <br />

    <h3>Funksjonstest</h3>
    <div class="form-group">
        <input type="text" id="Funksjons test1" name="Funksjons test1" class="form-control" value="Test vinsj og kjør alle funksjoner" />
        <input type="text" id="Funksjons test2" name="Funksjons test2" class="form-control" value="Trekkraft KN" />
        <input type="text" id="Funksjons test3" name="Funksjons test3" class="form-control" value="Bremsekraft KN" />
        <input type="text" id="Funksjons test4" name="Funksjons test4" class="form-control" value="" />
    </div>

    <br />

    <h3>Kommentarer</h3>
    <div class="form-group">
        <input type="text" id="Kommentarer" name="Kommentarer" class="form-control" value="" />
    </div>

    <br />

    <h3>Dato</h3>
    <div class="form-group">
        <input type="text" id="Dato" name="Dato" class="form-control" value="" />
    </div>

    <br />

    <h3>Signatur</h3>
    <div class="form-group">
        <input type="text" id="Signatur" name="Signatur" class="form-control" value="" />
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Lagre sjekkliste</button>
</form>
