@page
@model LogoutModel

@{
    ViewData["Title"] = "Logg ut";
}

<!-- Overskriftseksjon -->
<header>
    <!-- Vis tittelen for siden -->
    <h1>@ViewData["Title"]</h1>

    <!-- Sjekk om brukeren er autentisert -->
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <!-- Logg ut-skjema for autentiserte brukere -->
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Klikk her for å logge ut</button>
            </form>
        }
        else
        {
            <!-- Melding for brukere som allerede er logget ut -->
            <p>Du har logget ut av applikasjonen.</p>
        }
    }
</header>
